/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

/* Evaluation Container */
.evaluation-container {
  margin: 50px auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.question {
  border: 1px solid rgba(255, 255, 255, 0.507);
  padding: 15px;
  border-radius: 15px;
}

.question-txt {
  font-size: 14px;
}

.line {
  margin-top: 10px;
  opacity: 0.5;
}

.answers-container {
  color: white;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.answers-container input {
  margin-top: 10px;
}

.answer {
  display: flex;
  gap: 5px;
  font-size: 14px;
}

.answer p {
  width: 300px;
}

.btn {
  padding: 10px 0;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  transition: 0.2s;
}

.btn:hover {
  padding: 15px 0;
}

/* Media Queries for Responsive Design for EVALUATION.HTML */
@media only screen and (max-width: 500px) {
  .question,
  .btn {
    margin: 0px 20px;
  }
}
